

<h1>Welcome to Yelpdemo!</h1>
<h2>This is a sample applicaton by 
	<%= link_to "Kenneth Kebaara", "http://www.kebaara.com" %></a>.<br>
Sign up and start learning today and learn about restaurants.</h2>

